@font-face {
    font-family: "Roboto Regular";
    src: url("../Roboto-Regular.ttf");
}

body {
    font-family: "Roboto Regular";
    margin: 20px 100px;
    padding: 10px 20px;
    border: 8px solid rgb(143, 87, 15);
    border-radius: 30px
}
